<h1> A single Dog </h1>



<ul> 
   <p> <%= @dog.name %> </p>
   <p> <%= @dog.breed %> </p>
   <p> <%= @dog.age %> </p>
   <p> <%=  %> </p>

</ul>
<ul>

<%@employees.each do |e|%>

<li><%= "#{e.first_name} #{e.last_name}"%></li><br>

<% end %>

</ul>
